# Named Entity Recognition (NER)

Named entity recognition (NER) is a branch of natural language processing that focuses on extracting the text of names or other semantically distinct ideas from a larger text and tagging according to its special meaning within a system. NER can be broken into two broad categories: algorithms which use deterministic rules to find names (find all tokens that match the regular expression: `([A-Z][a-z]+)`) and statisical models which make guesses about where an entity begins and ends.

In this class, we'll use `spaCy`'s small English NER (`en_core_web_sm`) model to explore how statistical models can recognize named entities. Then, we'll see some of the practical considerations we must take when working with NER. Our workflow will look like this:
* Reacquaint ourselves with `spaCy`
* Pass a single chapter of Gibbon's *Decline and Fall* into the `spaCy` parser
* Examine the NER results
* Filter out all place names
* Use the Pleiades gazetteer to get coordinates for all valid place names
* Save data to CSV

Finally, you'll have the chance to boil down our process into a function and test it out on other chapters from Gibbon (or other texts). Keep in mind that, for next class, you must have your own version of the data we produce today. That's because, next week, Carolyn Talmadge from the DataLab will be showing us how to turn our CSVs into webmaps and applications.

## Preparing our data

In [1]:
# redownload spaCy's small model - should see 'requirement already satisfied'
!python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.4.1
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl (12.8 MB)
     --------------------------------------- 12.8/12.8 MB 11.5 MB/s eta 0:00:00
Requirement already satisfied: spacy<3.5.0,>=3.4.0 in c:\users\minni\anaconda3\lib\site-packages (from en-core-web-sm==3.4.1) (3.4.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.28.1)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.10.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.0.8)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.0.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.0.7)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (4.64.1)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (8.1.5)
Requirement already satisfied: pathy>=0.3.5 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.10.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (21.3)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.7.0)
Requirement already satisfied: numpy>=1.15.0 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.21.5)
Requirement already satisfied: setuptools in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (63.4.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.0.8)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.10.2)
Requirement already satisfied: jinja2 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.11.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.4.5)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\minni\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.3.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\minni\anaconda3\lib\site-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in c:\users\minni\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (5.2.1)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\minni\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (4.3.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\minni\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\minni\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\minni\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\minni\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2022.9.14)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\minni\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.0.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in c:\users\minni\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.7.9)
Requirement already satisfied: colorama in c:\users\minni\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.4.5)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\minni\anaconda3\lib\site-packages (from typer<0.8.0,>=0.3.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (8.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\minni\anaconda3\lib\site-packages (from jinja2->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.0.1)
Installing collected packages: en-core-web-sm
Successfully installed en-core-web-sm-3.4.1
[+] Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [2]:
import pandas as pd
import spacy
nlp = spacy.load('en_core_web_sm') # good idea to initialize here

In [5]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: wget
  Building wheel for wget (setup.py): started
  Building wheel for wget (setup.py): finished with status 'done'
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9657 sha256=80be3c47559b0e262049cbd3cf23371b42570588de978aa96f0f9db647e37d6f
  Stored in directory: c:\users\minni\appdata\local\pip\cache\wheels\04\5f\3e\46cc37c5d698415694d83f607f833f83f0149e49b3af9d0f38
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [6]:
# downloading gibbon text from my gh
import wget
import os
if not os.path.isfile('gibbon_text.csv'):
    wget.download('https://raw.githubusercontent.com/pnadelofficial/FallDHCourseMaterials/main/gibbon_text.csv')

In [7]:
gibbon_by_chapter = pd.read_csv('gibbon_text.csv').rename(columns={'Unnamed: 0':'chapter'})
gibbon_by_chapter

       chapter                                         StringText
0    Chapter 1  \nIn the second century of the Christian era, ...
1    Chapter 2  \nIt is not alone by the rapidity or extent of...
2    Chapter 3  \nThe obvious definition of a monarchy seems t...
3    Chapter 4  \nThe mildness of Marcus, which the rigid disc...
4    Chapter 5  \nThe power of the sword is more sensibly felt...
..         ...                                                ...
66  Chapter 67  \nThe respective merits of Rome and Constantin...
67  Chapter 68  \nThe siege of Constantinople by the Turks att...
68  Chapter 69  \nIn the first ages of the decline and fall of...
69  Chapter 70  \nIn the apprehension of modern times, Petrarc...
70  Chapter 71  \nIn the last days of Pope Eugenius the Fourth...

[71 rows x 2 columns]

In [8]:
chapter_eight = gibbon_by_chapter['StringText'][9]

## Using `spaCy`'s off-the-shelf NER model

This model was trained on a wide variety of sources, so we can't expect it to be completely accurate. We'll revisit that problem soon. We can train our own NER model and it would do better, but this will take some time to do and requires a lot of set up. If you're interested in training your own model, reach out to me and we can work together on it.

In [9]:
# pass the first chapter into spaCy parser
chapter_eight_doc = nlp(chapter_eight)

In [10]:
for entity in chapter_eight_doc.ents: # can access NER with the .ents attribute
    print(entity.text, entity.label_, sep='\t')

Philip	PERSON
Gallienus	PERSON
twenty years	DATE
Roman	NORP
Philip	GPE
Philip	PERSON
the summer of the year two hundred and forty-nine	DATE
Maesia	GPE
Marinus	PERSON
Philip	PERSON
Maesian	NORP
first	ORDINAL
senate	ORG
Decius	ORG
one	CARDINAL
Philip	PERSON
a very few days	DATE
Philip	GPE
Decius	ORG
Marinus	GPE
Decius	ORG
Maesia	GPE
Italy	GPE
Philip	PERSON
Imperial	ORG
Philip	PERSON
a few days	DATE
Verona	GPE
Rome	GPE
Praetorian	NORP
Decius	ORG
senate	ORG
Augustus	ORG
Philip	PERSON
Italy	GPE
Imperial	ORG
Decius	ORG
a few months	DATE
Danube	PERSON
Goths	PERSON
first	ORDINAL
Roman	NORP
Capitol	FAC
Gaul	GPE
Spain	GPE
Italy	GPE
Western	NORP
Goths	PERSON
the beginning of the sixth century	DATE
Italy	GPE
Goths	PERSON
Ravenna	PERSON
Cassiodorus	ORG
Gothic	NORP
twelve	CARDINAL
Jornandes	ORG
Asiatic	GPE
Scythia	GPE
first	ORDINAL
Goths	PERSON
Scandinavia	LOC
North	LOC
Italy	GPE
Scandinavian	NORP
his days	DATE
Ravenna	PERSON
Goths	PERSON
Baltic	LOC
Ptolemy	GPE
Sweden	GPE
west Gothland	GPE
the middle ages	DATE
ninth	ORDINAL
the twelfth century	DATE
Christianity	ORG
North	LOC
Goths	PERSON
Swedes	NORP
two	CARDINAL
two	CARDINAL
Swedes	NORP
kindred	GPE
Goths	PERSON
Rome	GPE
Charles the Twelfth	PERSON
the end of the eleventh century	DATE
Swedes	NORP
Goths	PERSON
Scandinavians	NORP
three	CARDINAL
every ninth year	DATE
nine	CARDINAL
Edda	PRODUCT
Iceland	GPE
the thirteenth century	DATE
Denmark	GPE
Sweden	GPE
Edda	PRODUCT
two	CARDINAL
Odin	PERSON
Scandinavia	LOC
North	LOC
Baltic	NORP
Odin	ORG
Swedes	NORP
Goths	PERSON
nine	CARDINAL
Odin	ORG
Odin	PERSON
Maeotis	GPE
Mithridates	GPE
Pompey	PERSON
North	LOC
Odin	ORG
the Asiatic Sarmatia	ORG
Sweden	GPE
Goths	PERSON
Goths	PERSON
Scandinavian	NORP
Baltic	LOC
Sweden	GPE
Carlscroon	GPE
Pomerania	GPE
Prussia	GPE
Christian	NORP
Antonines	NORP
Goths	PERSON
Vistula	LOC
Thorn	GPE
Elbing	GPE
Königsberg	GPE
Danzig	ORG
Goths	PERSON
Vandals	ORG
Oder	ORG
Pomerania	GPE
Mecklenburg	ORG
Goths	PERSON
one	CARDINAL
Ostrogoths	GPE
Visigoths	ORG
Gepidae	PERSON
Heruli	GPE
Burgundians	NORP
Lombards	ORG
Antonines	NORP
Goths	PERSON
Prussia	GPE
Alexander Severus	PERSON
Roman	NORP
Dacia	PERSON
about seventy years	DATE
second	ORDINAL
Goths	PERSON
Baltic	NORP
Gothic	NORP
South	LOC
Goths	PERSON
uncommon union	ORG
Amala	GPE
tenth	ORDINAL
Theodoric	ORG
Italy	GPE
Anses	ORG
Gothic	NORP
Vandalic	PERSON
Germany	GPE
a few years	DATE
Goths	PERSON
first	ORDINAL
Prypec	GPE
Borysthenes	LOC
Poland	GPE
Russia	GPE
Bastarnae	ORG
Venedi	PERSON
first	ORDINAL
Gothic	NORP
Bastarnae	ORG
Carpathian	PRODUCT
Bastarnae	ORG
Finland	GPE
Venedi	PERSON
first	ORDINAL
the Macedonian war	LOC
Peucini	ORG
Borani	NORP
Carpi	GPE
&c.	DATE
Germans	NORP
Sarmatian	NORP
Venedi	ORG
the middle ages	DATE
Goths	PERSON
the Euxine Sea	LOC
Sarmatians	NORP
Jazyges	ORG
Alani	PERSON
Roxolani	PRODUCT
first	ORDINAL
Germans	NORP
Borysthenes	NORP
Tanais	LOC
Germany	GPE
Sarmatia	ORG
two	CARDINAL
one	CARDINAL
Teutonic	ORG
Sclavonian	NORP
Italy	GPE
Japan	GPE
Goths	PERSON
Ukraine	GPE
Borysthenes	LOC
bee	ORG
Nature	WORK_OF_ART
Goths	PERSON
Scythian	NORP
Goths	PERSON
Roman	NORP
Dacia	PERSON
Trajan	GPE
Dacia	PERSON
Dniester	ORG
Roman	NORP
the Lower Danube	ORG
Maesia	GPE
Goths	PERSON
Philip	GPE
Dacia	PERSON
Dniester	PERSON
Danube	PERSON
Roman	NORP
Gothic	NORP
Marcianopolis	PERSON
Trajan	PERSON
second	ORDINAL
Maesia	GPE
first	ORDINAL
Decius	ORG
Cniva	ORG
Goths	PERSON
Danube	PERSON
second	ORDINAL
Maesia	GPE
seventy thousand	CARDINAL
Germans	NORP
Sarmatians	NORP
Roman	NORP
Decius	ORG
Goths	PERSON
Nicopolis	PERSON
one	CARDINAL
Trajan	ORG
Philippopolis	GPE
Thrace	GPE
Alexander	ORG
Mount Haemus	FAC
Decius	ORG
Goths	PERSON
Cniva	ORG
Romans	NORP
first	ORDINAL
Philippopolis	GPE
A hundred thousand	CARDINAL
Priscus	ORG
Philip	PERSON
Rome	GPE
Decius	ORG
Carpi	GPE
Germans	NORP
fidelity	ORG
Danube	ORG
Goths	PERSON
Roman	NORP
Decius	ORG
Antonines	NORP
Roman	NORP
first	ORDINAL
Caesars	ORG
senate	ORG
Valerian	NORP
Decius	ORG
senate	ORG
senate	ORG
Roman	NORP
senate	ORG
Rome	GPE
Roman	ORG
Imperial	ORG
Valerian	NORP
Decius	ORG
Goths	PERSON
first	ORDINAL
Decius	ORG
Goths	PERSON
Roman	NORP
Philippopolis	GPE
Goths	PERSON
North	LOC
Maesia	GPE
Forum Terebronii	PERSON
Gothic	NORP
three	CARDINAL
third	ORDINAL
Decius	ORG
first	ORDINAL
Goths	PERSON
second	ORDINAL
third	ORDINAL
Romans	NORP
Roman	NORP
Decius	ORG
the fiftieth year	DATE
senate	ORG
Decius	ORG
Imperial	ORG
Hostilianus	GPE
Gallus	ORG
first	ORDINAL
Illyrian	NORP
Goths	PERSON
Roman	NORP
Scipios	NORP
Rome	GPE
Romans	NORP
annual	DATE
Romans	NORP
Hostilianus	GPE
Gallus	ORG
the first year	DATE
Romans	NORP
Illyrian	NORP
Rome	GPE
Aemilianus	GPE
Pannonia	GPE
Maesia	GPE
Danube	PERSON
Italy	GPE
Spoleto	GPE
Gallus	ORG
Aemilianus	GPE
Gallus	ORG
Volusianus	ORG
senate	ORG
Aemilianus	GPE
Rome	GPE
North	LOC
East	LOC
senate	ORG
Hercules the Victor	ORG
Mars	LOC
Avenger	ORG
Less than four months	DATE
Gallus	ORG
Gallus	ORG
Valerian	PERSON
Gaul	GPE
Germany	GPE
fidelity	ORG
Aemilianus	GPE
Spoleto	GPE
Valerian's	ORG
Valerian	PRODUCT
about sixty years of age	DATE
Roman	NORP
senate	ORG
Valerian	LOC
Roman	NORP
Imperial	ORG
Valerian	GPE
Gallienus	PERSON
about seven	CARDINAL
Gallienus	ORG
about eight, years	DATE
one	CARDINAL
Roman	NORP
Rome	GPE
Valerian	GPE
Gallienus	GPE
1	CARDINAL
Franks	ORG
2	CARDINAL
3	CARDINAL
Goths	PERSON
4	CARDINAL
Persians	NORP
I.	ORG
Franks	NORP
one	CARDINAL
Europe	LOC
Pannonia	GPE
Gaul	PERSON
Germany	GPE
the year two hundred and forty	DATE
Franks by the old	ORG
the Lower Rhine	LOC
Weser	ORG
Westphalia	ORG
the Landgraviate of Hesse	ORG
Brunswick	GPE
Luneburg	PERSON
Chauci	ORG
Roman	NORP
Cherusci	FAC
Arminius	GPE
Catti	PRODUCT
Germans	NORP
Franks or Freemen	ORG
Tacit	PRODUCT
first	ORDINAL
Franks	NORP
Helvetic	ORG
canton	GPE
two	CARDINAL
two hundred years	DATE
Swiss	NORP
Franks	ORG
Romans	NORP
Lower Germany	GPE
Gaul	PERSON
Gallienus	GPE
Imperial	ORG
Posthumus	PERSON
Valerian	NORP
Posthumus	GPE
The Conqueror of the Germans	WORK_OF_ART
Rhine	GPE
Franks	NORP
Spain	GPE
Germans	NORP
twelve years	DATE
Gallienus	GPE
Tarragona	ORG
Orosius	ORG
the fifth century	DATE
Franks	ORG
Spain	GPE
Mauritania	GPE
Africa	LOC
Upper Saxony	GPE
Elbe	ORG
the Marquisate of Lusace	ORG
Suevi	PERSON
Deity	ORG
Sonnenwald	ORG
Semnones	ORG
first	ORDINAL
Suevic	PERSON
Suevi	PERSON
Germany	GPE
Oder	ORG
Danube	ORG
Germans	NORP
Germans	NORP
Suevi	PERSON
Usipetes	GPE
Tencteri	ORG
Caesar	PERSON
Caracalla	ORG
Suevi	PERSON
Main	ORG
Roman	NORP
Alemanni	PERSON
Allmen	GPE
Romans	NORP
Alemanni	PERSON
the longest march	DATE
Germans	NORP
Alexander Severus	PERSON
Decius	ORG
first	ORDINAL
Italy	GPE
Alemanni	PERSON
Danube	ORG
Rhaetian	NORP
Lombardy	GPE
Ravenna	PERSON
Rome	GPE
senate	ORG
Valerian	NORP
East	LOC
Gallienus	PERSON
Rhine	GPE
Romans	NORP
Praetorian	NORP
Alemanni	PERSON
Germany	GPE
Romans	NORP
Gallienus	PERSON
senate	ORG
one day	DATE
the Lower Empire	GPE
Three hundred thousand	CARDINAL
Milan	GPE
only ten thousand	CARDINAL
Romans	NORP
one	CARDINAL
Italy	GPE
Germans	NORP
Pipa	ORG
Marcomanni	ORG
Suevic	PERSON
Pannonia	GPE
Rome	GPE
German	NORP
Gallienus	GPE
Goths	PERSON
Scandinavia	LOC
Prussia	GPE
Borysthenes	NORP
Borysthenes	NORP
Danube	ORG
Valerian	GPE
Germans	NORP
Sarmatians	NORP
Romans	NORP
Rome	GPE
more than one	CARDINAL
Illyrian	NORP
Danube	ORG
Italy	GPE
Macedonia	GPE
Imperial	ORG
Gothic	NORP
Goths	PERSON
Ukraine	GPE
Euxine	PERSON
Asia Minor	ORG
Borysthenes	NORP
only sixty miles	QUANTITY
Crim Tartary	PERSON
Chersonesus Taurica	ORG
Euripides	NORP
one	CARDINAL
Diana	PERSON
Orestes	GPE
Pylades	PERSON
Tauri	GPE
Grecian	NORP
Bosphorus	PERSON
Maeotis	PRODUCT
Euxine	PERSON
Greeks	WORK_OF_ART
half	CARDINAL
the Peloponnesian war	EVENT
Mithridates	GPE
Roman	NORP
Augustus	ORG
Bosphorus	PERSON
Sarmatia	PERSON
the Euxine Sea	LOC
Goths	PERSON
Bosphorus	PERSON
Asia	LOC
Euxine	PERSON
Goths	PERSON
fidelity	ORG
Turks	NORP
Bosphorus	PERSON
Goths	PERSON
Circassia	GPE
first	ORDINAL
Pityus	ORG
Roman	NORP
Gothic	NORP
Successianus	LOC
Valerian	GPE
Pityus	ORG
the Euxine Sea	LOC
Pityus	ORG
Trebizond	GPE
about three hundred miles	QUANTITY
Goths	PERSON
Colchis	ORG
Phasis	ORG
Trebizond	GPE
Greeks	PERSON
Hadrian	NORP
Goths	PERSON
ten thousand	CARDINAL
Trebizond	GPE
Goths	PERSON
Goths	PERSON
Trebizond	GPE
Pontus	ORG
Trebizond	GPE
the sea coast	LOC
Goths	PERSON
first	ORDINAL
Bosphorus	PERSON
second	ORDINAL
Goths	PERSON
Pontus	ORG
Euxine	PERSON
Borysthenes	LOC
Dniester	ORG
Danube	PERSON
Euxine Sea	LOC
Mediterranean	LOC
Europe	LOC
Asia	LOC
Chalcedon	GPE
Jupiter Urius	GPE
Gothic	NORP
Chalcedon	GPE
Europe	LOC
Asia	LOC
Nicomedia	GPE
Bithynia	GPE
only sixty miles	QUANTITY
Chalcedon	GPE
Goths	PERSON
Prusa	NORP
Apamaea	GPE
Nicomedia	GPE
a few weeks	DATE
Bithynia	GPE
Three hundred years	DATE
Asia	LOC
Cyzicus	GPE
Mithridates	GPE
two hundred	CARDINAL
three	CARDINAL
Propontis	PRODUCT
Asia	LOC
two	CARDINAL
Prusa	NORP
Goths	PERSON
eighteen miles	QUANTITY
Cyzicus	GPE
season	DATE
Apolloniates	ORG
Mount Olympus	LOC
Rhyndacus	ORG
Goths	PERSON
Heraclea	GPE
Bithynia	GPE
Nice	GPE
Nicomedia	GPE
Euxine	PERSON
the month of	DATE
May	DATE
September	DATE
Turks	NORP
third	ORDINAL
Goths	PERSON
Bosphorus	PERSON
five hundred	CARDINAL
Strabo	ORG
Pontus	ORG
the Lesser Scythia	PERSON
more than twenty-five	CARDINAL
fifteen thousand	CARDINAL
Euxine	PERSON
Cimmerian	NORP
the next day	DATE
a few hours	TIME
Propontis	ORG
Cyzicus	GPE
Hellespont	GPE
Archipelago	LOC
the Aegean Sea	LOC
Greece	GPE
Asia	LOC
Gothic	NORP
Piraeus	ORG
five miles	QUANTITY
Athens	GPE
one	CARDINAL
Goths	PERSON
Sylla	ORG
Piraeus	ORG
Cleodamus	PERSON
Athens	GPE
Athens	GPE
Northern	NORP
Greece	GPE
Argos	LOC
Sparta	GPE
Sunium	ORG
Epirus	ORG
Goths	PERSON
Italy	GPE
Naulobatus	ORG
Heruli	PERSON
Rome	GPE
Goths	PERSON
Maesia	GPE
Danube	PERSON
Ukraine	GPE
Roman	NORP
Hellespont	GPE
Bosphorus	PERSON
Troy	GPE
Homer	ORG
Gothic	NORP
Euxine	PERSON
Anchialus	ORG
Thrace	GPE
Mount Haemus	FAC
third	ORDINAL
fifteen thousand	CARDINAL
German	NORP
Sarmatian	NORP
Gothic	NORP
Gothic	NORP
Tanais	LOC
Scythians	NORP
Diana at Ephesus	ORG
seven	CARDINAL
Goths	PERSON
third	ORDINAL
Greece	GPE
Asia	LOC
an hundred and twenty-seven	CARDINAL
Ionic	ORG
sixty feet	QUANTITY
Praxiteles	ORG
Latona	GPE
Apollo	ORG
Cyclops	ORG
Bacchus	ORG
Amazons	ORG
Ephesus	PRODUCT
only four hundred and twenty-five	CARDINAL
about two-thirds	CARDINAL
St. Peter's	GPE
Rome	GPE
Christian	NORP
Pagans	NORP
Pantheon	ORG
Diana	PERSON
Persian	NORP
Macedonian	NORP
Roman	NORP
Baltic	NORP
Athens	GPE
Goths	PERSON
Grecian	NORP
Greeks	PERSON
IV	PERSON
Persia	GPE
Sapor	NORP
Chosroes	ORG
Armenia	GPE
Romans	NORP
a thirty years'	DATE
Sapor	NORP
Persia	GPE
Armenia	GPE
Rome	GPE
Tiridates	ORG
Chosroes	ORG
Persian	NORP
Young Tiridates	PERSON
Armenia	ORG
twenty-seven years	DATE
Persia	GPE
Romans	NORP
Sapor	NORP
Carrhae	GPE
Nisibis	GPE
Euphrates	LOC
Sapor	NORP
Rome	GPE
Rhine	PERSON
Danube	ORG
Euphrates	LOC
Asia Minor	ORG
Goths	PERSON
Euphrates	ORG
Persian	NORP
Edessa	GPE
Sapor	NORP
Roman	NORP
Macrianus	GPE
Praetorian	NORP
Rome	GPE
Imperial	ORG
Romans	NORP
Persian	NORP
Sapor	NORP
Valerian	PRODUCT
Persian	NORP
Roman	NORP
Sapor	NORP
Antioch	ORG
Roman	NORP
Persian	NORP
Imperial	ORG
Sapor	NORP
Euphrates	ORG
Chalcis	PERSON
East	LOC
Persian	NORP
Antioch	ORG
Antioch	ORG
Emesa	GPE
Zoroaster	GPE
Tarsus	ORG
Syria	GPE
Cilicia	PERSON
Persian	NORP
Mount Taurus	FAC
Sapor	NORP
Caesarea	ORG
Cappadocia	PERSON
second	ORDINAL
four hundred thousand	CARDINAL
Caesarea	PERSON
Persians	NORP
many thousands	CARDINAL
Sapor	NORP
Armenia	GPE
Romans	NORP
Persia	GPE
East	LOC
Sapor	NORP
Odenathus	ORG
one	CARDINAL
Palmyra	PRODUCT
Odenathus	PERSON
Euphrates	ORG
Palmyrenian	ORG
Sapor	NORP
Syria	GPE
Persian	NORP
the Great King	FAC
Euphrates	LOC
Odenathus	PERSON
Rome	GPE
Persian	NORP
Syrian	NORP
Sapor	NORP
Valerian	GPE
Imperial	ORG
Persian	NORP
Roman	NORP
Rome	GPE
Sapor	NORP
Valerian	NORP
Persia	GPE
Roman	NORP
East	LOC
Sapor	NORP
Valerian	NORP
Persia	GPE
Rome	GPE
Gallienus	PERSON
Rome	GPE
Gallienus	GPE
Plotinus	PERSON
Grecian	NORP
the Areopagus of Athens	ORG
Rome	GPE
Egypt	GPE
Arras	NORP
Gaul	PERSON
Valerian	GPE
thirty	CARDINAL
Rome	GPE
thirty	CARDINAL
Athens	GPE
the Augustan History	FAC
thirty	CARDINAL
Imperial	ORG
Gallienus	GPE
nineteen	CARDINAL
Macrianus	GPE
Balista	ORG
Odenathus	PERSON
Zenobia	GPE
East	LOC
Gaul	GPE
Posthumus	GPE
Lollianus	GPE
Victorinus	GPE
Victoria	GPE
Marius	ORG
Tetricus	ORG
Illyricum	GPE
Danube	ORG
Ingenuus	GPE
Regillianus	ORG
Aureolus	NORP
Pontus	GPE
Saturninus	GPE
Isauria	GPE
Thessaly	GPE
Valens	ORG
Achaia	GPE
Aemilianus	GPE
Egypt	GPE
Celsus	PERSON
Africa	LOC
Tyrant	GPE
supreme power	ORG
Valerian	NORP
Augustus	ORG
Marius	ORG
nineteen	CARDINAL
Tetricus	ORG
Piso	ORG
Numa	ORG
twenty-eight	CARDINAL
Calphurnius Piso	ORG
Crassus	PERSON
commonwealth	ORG
Rome	GPE
Calphurnian	NORP
Caesars	ORG
Piso	ORG
Valens	ORG
Piso	ORG
Gallienus	GPE
senate	ORG
Valerian	NORP
Roman	NORP
Gallienus	PERSON
Saturninus	PERSON
the day	DATE
Saturninus	GPE
nineteen	CARDINAL
Gallienus	GPE
Italy	GPE
Rome	GPE
senate	ORG
Gallienus	GPE
Odenathus	PERSON
Valerian	GPE
Romans	NORP
Gallienus	GPE
senate	ORG
Augustus	ORG
Palmyrenian	ORG
East	LOC
Zenobia	GPE
Ingenuus	GPE
Illyricum	GPE
Valerian	GPE
Ingenuus	GPE
Roman	NORP
Valerian	GPE
Gallienus	GPE
Sicily	GPE
Alexandria	PERSON
III	ORG
Isaurians	NORP
Sicily	GPE
Sicily	PRODUCT
Rome	GPE
Goths	PERSON
Persians	NORP
II	CARDINAL
Alexandria	PERSON
Philip	GPE
second	ORDINAL
Rome	GPE
fifteen miles	QUANTITY
three hundred thousand	CARDINAL
Arabia	GPE
India	GPE
Alexandria	PERSON
Alexandria	PERSON
Egyptians	NORP
Valerian	NORP
Alexandrians	NORP
twelve years	DATE
Alexandria	PERSON
Bruchion	ORG
Egypt	GPE
century	DATE
III	ORG
Isauria	GPE
Asia Minor	GPE
Gallienus	GPE
Taurus	PRODUCT
Roman	NORP
Isaurians	NORP
Isaurians	NORP
the sea coast	LOC
Cilicia	PERSON
the year two hundred and fifty to the year two hundred and sixty-five	DATE
Roman	NORP
five thousand	CARDINAL
daily	DATE
Rome	GPE
Alexandria	PERSON
between the ages of forty	DATE
fourteen to fourscore years of age	DATE
Gallienus	GPE
Alexandria	PERSON
a few years	DATE

In [11]:
# filter by place name
for  entity in chapter_eight_doc.ents:
    if (entity.label_ == 'GPE') or (entity.label_ == 'LOC'):
        print(entity.text)

Philip
Maesia
Philip
Marinus
Maesia
Italy
Verona
Rome
Italy
Gaul
Spain
Italy
Italy
Asiatic
Scythia
Scandinavia
North
Italy
Baltic
Ptolemy
Sweden
west Gothland
North
kindred
Rome
Iceland
Denmark
Sweden
Scandinavia
North
Maeotis
Mithridates
North
Sweden
Baltic
Sweden
Carlscroon
Pomerania
Prussia
Vistula
Thorn
Elbing
Königsberg
Pomerania
Ostrogoths
Heruli
Prussia
South
Amala
Italy
Germany
Prypec
Borysthenes
Poland
Russia
Finland
the Macedonian war
Carpi
the Euxine Sea
Tanais
Germany
Italy
Japan
Ukraine
Borysthenes
Trajan
Maesia
Philip
Maesia
Maesia
Philippopolis
Thrace
Philippopolis
Rome
Carpi
Rome
Philippopolis
North
Maesia
Hostilianus
Rome
Hostilianus
Rome
Aemilianus
Pannonia
Maesia
Italy
Spoleto
Aemilianus
Aemilianus
Rome
North
East
Mars
Gaul
Germany
Aemilianus
Spoleto
Valerian
Valerian
Rome
Valerian
Gallienus
Europe
Pannonia
Germany
the Lower Rhine
Brunswick
Arminius
canton
Lower Germany
Gallienus
Posthumus
Rhine
Spain
Gallienus
Spain
Mauritania
Africa
Upper Saxony
Germany
Usipetes
Allmen
Italy
Lombardy
Rome
East
Rhine
Germany
the Lower Empire
Milan
Italy
Pannonia
Rome
Gallienus
Scandinavia
Prussia
Valerian
Rome
Italy
Macedonia
Ukraine
Orestes
Tauri
Mithridates
the Euxine Sea
Asia
Circassia
Successianus
Valerian
the Euxine Sea
Trebizond
Trebizond
Trebizond
Trebizond
Trebizond
the sea coast
Borysthenes
Euxine Sea
Mediterranean
Europe
Asia
Chalcedon
Jupiter Urius
Chalcedon
Europe
Asia
Nicomedia
Bithynia
Chalcedon
Apamaea
Nicomedia
Bithynia
Asia
Cyzicus
Mithridates
Asia
Cyzicus
Mount Olympus
Heraclea
Bithynia
Nice
Nicomedia
Cyzicus
Hellespont
Archipelago
the Aegean Sea
Greece
Asia
Athens
Athens
Athens
Greece
Argos
Sparta
Italy
Rome
Maesia
Ukraine
Hellespont
Troy
Thrace
Tanais
Greece
Asia
Latona
St. Peter's
Rome
Athens
Persia
Armenia
Persia
Armenia
Rome
Persia
Carrhae
Nisibis
Euphrates
Rome
Euphrates
Edessa
Macrianus
Rome
East
Emesa
Zoroaster
Syria
Armenia
Persia
East
Syria
Euphrates
Rome
Valerian
Rome
Persia
East
Persia
Rome
Rome
Gallienus
Rome
Egypt
Valerian
Rome
Athens
Gallienus
Macrianus
Zenobia
East
Gaul
Posthumus
Lollianus
Victorinus
Victoria
Illyricum
Ingenuus
Pontus
Saturninus
Isauria
Thessaly
Achaia
Aemilianus
Egypt
Africa
Tyrant
Rome
Gallienus
Saturninus
Gallienus
Italy
Rome
Gallienus
Valerian
Gallienus
East
Zenobia
Ingenuus
Illyricum
Valerian
Ingenuus
Valerian
Gallienus
Sicily
Sicily
Rome
Philip
Rome
Arabia
India
Egypt
Isauria
Asia Minor
Gallienus
the sea coast
Rome
Gallienus

In [12]:
# putting all of the data into a dictionary
import collections
place_freq = collections.defaultdict(int)
for entity in chapter_eight_doc.ents:
    if (entity.label_ == 'GPE') or (entity.label_ == 'LOC'):
        place_freq[entity.text] += 1 # the utility of defaultdict!
place_freq = dict(place_freq)

In [13]:
# dict -> df
place_freq_df = pd.DataFrame.from_dict(place_freq, orient='index').reset_index().rename(columns={'index':'place_name',0:'frequency'})
place_freq_df

     place_name  frequency
0        Philip          4
1        Maesia          8
2       Marinus          1
3         Italy         13
4        Verona          1
..          ...        ...
122      Tyrant          1
123      Sicily          2
124      Arabia          1
125       India          1
126  Asia Minor          1

[127 rows x 2 columns]

In [14]:
# downloading the Pleiades data we need (also from my gh)
if not os.path.isfile('places.csv'):
    wget.download('https://raw.githubusercontent.com/pnadelofficial/FallDHCourseMaterials/main/places.csv')
if not os.path.isfile('names.csv'):
    wget.download('https://raw.githubusercontent.com/pnadelofficial/FallDHCourseMaterials/main/names.csv')

In [15]:
places = pd.read_csv('places.csv')
places.columns

Index(['created', 'description', 'details', 'provenance', 'title', 'uri', 'id',
       'representative_latitude', 'representative_longitude',
       'bounding_box_wkt'],
      dtype='object')

In [16]:
# let's find 'Rome' in places
places.loc[places['title'] == 'Roma']

,created,description,details,provenance,title,uri,id,representative_latitude,representative_longitude,bounding_box_wkt
21483,2018-06-07T19:48:13Z,The capital of the Roman Republic and Empire.,<p>The Barrington Atlas Directory notes: Roma/...,Barrington Atlas: BAtlas 43 B2 Roma,Roma,https://pleiades.stoa.org/places/423025,423025,41.891775,12.486137,"POLYGON ((12.486137 41.891775, 12.486137 41.89..."

In [17]:
names = pd.read_csv('names.csv')
names.columns

Index(['created', 'description', 'details', 'provenance', 'title', 'uri', 'id',
       'place_id', 'name_type', 'language_tag', 'attested_form',
       'romanized_form_1', 'romanized_form_2', 'romanized_form_3',
       'association_certainty', 'transcription_accuracy',
       'transcription_completeness', 'year_after_which', 'year_before_which'],
      dtype='object')

In [18]:
# let's find 'Rome' in names
names.loc[names['romanized_form_1'] == 'Rome'].place_id

20810    423025
Name: place_id, dtype: int64

In [19]:
def get_pleiades_id(term):
    """
    Iterates through all of the possible names in the names.csv file
    Returns None if no matched names
    """
    name_row = names.loc[names['attested_form'] == term]
    if len(name_row) == 1:
        return int(name_row.place_id.iloc[0])
    else:
        name_row = names.loc[names['romanized_form_1'] == term]
        if len(name_row) == 1:
            return int(name_row.place_id.iloc[0])
        else:
            name_row = names.loc[names['romanized_form_2'] == term]
            if len(name_row) == 1:
                return int(name_row.place_id.iloc[0])
            else:
                name_row = names.loc[names['romanized_form_3'] == term]
                if len(name_row) == 1:
                    return int(name_row.place_id.iloc[0])
                else:
                    return None

The above function looks very complicated, but all it's doing is checking the results of several `loc` and `iloc` calls from our `DataFrame`. You will very rarely see `for` loops when using `pandas`. Instead, you will see programmers taking advantage of the very efficient search methods in `pandas` like `loc`, sometimes called 'broadcasting'. Check out this [Medium post](https://medium.com/@michaeleby1/broadcasting-versus-iteration-6c06539dc1d5) for a further discussion of the benefits of broadcasting over writing loops.

In [20]:
place_freq_df['pleiades_id'] = place_freq_df['place_name'].apply(get_pleiades_id)
place_freq_df

     place_name  frequency  pleiades_id
0        Philip          4          NaN
1        Maesia          8          NaN
2       Marinus          1          NaN
3         Italy         13          NaN
4        Verona          1     383816.0
..          ...        ...          ...
122      Tyrant          1          NaN
123      Sicily          2     462492.0
124      Arabia          1     981506.0
125       India          1      50004.0
126  Asia Minor          1        837.0

[127 rows x 3 columns]

Why are there so many `NaN` values? How do we deal with them? How do we want to deal with them?

In [21]:
place_freq_final = place_freq_df.dropna().reset_index(drop=True)
place_freq_final

    place_name  frequency  pleiades_id
0       Verona          1     383816.0
1         Rome         27     423025.0
2      Maeotis          1     825318.0
3      Vistula          1      20639.0
4       Heruli          1      98980.0
5       Tanais          2     648593.0
6       Africa          2        775.0
7     Usipetes          1     109405.0
8        Milan          1     383706.0
9    Macedonia          1     491656.0
10   Trebizond          5     857359.0
11   Chalcedon          3     520988.0
12   Nicomedia          3     511337.0
13     Cyzicus          3     511218.0
14    Heraclea          1     452333.0
15      Athens          5     579885.0
16       Argos          1     570106.0
17      Sparta          1     570685.0
18        Troy          1     550595.0
19     Carrhae          1     658427.0
20   Euphrates          3     912849.0
21       Emesa          1     668261.0
22     Zenobia          2     894185.0
23    Victoria          1      89206.0
24   Illyricum          2     481865.0
25      Pontus          1     857287.0
26      Achaia          1     570028.0
27      Sicily          2     462492.0
28      Arabia          1     981506.0
29       India          1      50004.0
30  Asia Minor          1        837.0

Now that we have the Pleiades IDs, we can finally get the coordiantes from `places.csv`. Let's look back at the Roman example.

In [22]:
rid = place_freq_final.pleiades_id.iloc[0]
places.loc[places['id'] == rid].representative_latitude.iloc[0]

45.44212954633693

In [23]:
# could've just one function here, but not too much trouble to do two
def get_lat(pl_id):
    places_row = places.loc[places['id'] == pl_id]
    if len(places_row) == 1:
        return places_row.representative_latitude.iloc[0]
    
def get_long(pl_id):
    places_row = places.loc[places['id'] == pl_id]
    if len(places_row) == 1:
        return places_row.representative_longitude.iloc[0]

In [24]:
place_freq_final['lat'] = place_freq_final['pleiades_id'].apply(get_lat)
place_freq_final['long'] = place_freq_final['pleiades_id'].apply(get_long)

In [25]:
place_freq_final

    place_name  frequency  pleiades_id        lat       long
0       Verona          1     383816.0  45.442130  10.995736
1         Rome         27     423025.0  41.891775  12.486137
2      Maeotis          1     825318.0  46.072677  36.711669
3      Vistula          1      20639.0  52.216333  21.090355
4       Heruli          1      98980.0  55.500000  12.500000
5       Tanais          2     648593.0  36.717629  32.984265
6       Africa          2        775.0  32.500000   7.500000
7     Usipetes          1     109405.0  50.500000   7.500000
8        Milan          1     383706.0  45.463746   9.188060
9    Macedonia          1     491656.0  41.250000  21.750000
10   Trebizond          5     857359.0  41.004269  39.723312
11   Chalcedon          3     520988.0  40.983393  29.025789
12   Nicomedia          3     511337.0  40.765191  29.919887
13     Cyzicus          3     511218.0  40.385565  27.883191
14    Heraclea          1     452333.0  40.211776  16.669885
15      Athens          5     579885.0  37.972634  23.722746
16       Argos          1     570106.0  37.631561  22.719464
17      Sparta          1     570685.0  37.077905  22.427298
18        Troy          1     550595.0  39.957433  26.238459
19     Carrhae          1     658427.0  36.864578  39.030038
20   Euphrates          3     912849.0  35.543310  39.606018
21       Emesa          1     668261.0  34.737656  36.719319
22     Zenobia          2     894185.0  35.666634  39.810395
23    Victoria          1      89206.0  56.533420  -3.411596
24   Illyricum          2     481865.0  42.427292  17.965028
25      Pontus          1     857287.0  43.078685  34.742551
26      Achaia          1     570028.0  38.102121  22.224586
27      Sicily          2     462492.0  37.643297  13.932018
28      Arabia          1     981506.0  27.500000  32.500000
29       India          1      50004.0  22.500000  77.500000
30  Asia Minor          1        837.0  37.909696  27.278684

In [26]:
place_freq_final.to_csv('ch8gibbon_places.csv')

## In-class Activity

Now pair up and try to take all of the above steps and turn it into a single function, so that all you need to do is pass in the text of a chapter and you get back a DataFrame with place names and coordinates. To walkthrough the steps again:

* Consider what all of your inputs are
* Use `spaCy` syntax to parse input text
* Filter and count by place name and label
* Use `pandas` to manipulate the data into a useful form

Try out some different chapters. Do you notice anything about the places? Do the types of places or the accuracy of Pleiades get better or worse over the chapters? I encourage you to Google or look up any entities you don't know on Wikipedia.

In [27]:
def find_name_and_coords(gibbon_chapter):
    second_chapter = gibbon_chapter
    second_chapter_doc = nlp(second_chapter)
    
#    for entity in second_chapter_doc.ents: # can access NER with the .ents attribute
#       print(entity.text, entity.label_, sep='\t')

    import collections
    place_freq = collections.defaultdict(int)
    for entity in second_chapter_doc.ents:
        if (entity.label_ == 'GPE') or (entity.label_ == 'LOC'):
            place_freq[entity.text] += 1 # the utility of defaultdict!
    place_freq = dict(place_freq)
    place_freq_df = pd.DataFrame.from_dict(place_freq, orient='index').reset_index().rename(columns={'index':'place_name',0:'frequency'})
    place_freq_df
    
    places = pd.read_csv('places.csv')
    names = pd.read_csv('names.csv')
    #get_pleiades_id(term)

    place_freq_df['pleiades_id'] = place_freq_df['place_name'].apply(get_pleiades_id)
    place_freq_df
    
    place_freq_final = place_freq_df.dropna().reset_index(drop=True)
    place_freq_final
    
    place_freq_final['lat'] = place_freq_final['pleiades_id'].apply(get_lat)
    place_freq_final['long'] = place_freq_final['pleiades_id'].apply(get_long)
    
    print(place_freq_final)
    place_freq_final.to_csv('ch8gibbon_places.csv')

In [40]:
find_name_and_coords()

   place_name  frequency  pleiades_id        lat       long
0        Rome         32     423025.0  41.891775  12.486137
1        Nile          4     727172.0  19.211409  30.567330
2      Athens         11     579885.0  37.972634  23.722746
3      Sparta          1     570685.0  37.077905  22.427298
4       Padua          2     393473.0  45.409561  11.876975
5     Arpinum          1     432700.0  41.648422  13.609876
6     Etruria          1     413122.0  42.758127  11.546721
7      Latium          2     432900.0  41.590543  13.192265
8      Alesia          1     177434.0  47.536622   4.503884
9      Africa          4        775.0  32.500000   7.500000
10  Euphrates          1     912849.0  35.543310  39.606018
11      Capua          1     432754.0  41.086092  14.250207
12     Verona          2     383816.0  45.442130  10.995736
13      Troas          1     550944.0  39.837052  26.336944
14      Milan          1     383706.0  45.463746   9.188060
15     London          1      79574.0  51.513335  -0.088949
16      Paris          1     109126.0  48.854405   2.346168
17      Arles          1     148217.0  43.677616   4.630799
18   Bordeaux          1     138248.0  44.837205  -0.576533
19      Autun          1     177460.0  46.947240   4.299177
20     Vienne          1     167719.0  45.524510   4.875982
21   Hercules          1     266032.0  37.500000  -0.500000
22     Sicily          1     462492.0  37.643297  13.932018
23      Media          1     903080.0  34.500000  46.500000
24     Arabia          2     981506.0  27.500000  32.500000
25      India          2      50004.0  22.500000  77.500000